# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.dist/
build/

# Virtual environments
.venv/
venv/
ENV/

# Environment / secrets
.env

# Local data
.data/
data/

# OS / Editor
.DS_Store
.idea/
.vscode/

